:root {
  --main-color: #164ACF;
  --hover-color: #1f56df; }

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Cuprum", "Open Sans", sans-serif;
  color: white;
  overflow-x: hidden; }

p, ul, ol, li {
  margin: 0;
  padding: 0; }

a, button {
  outline: none;
  border: 0;
  padding: 0;
  color: white;
  text-decoration: none; }

a:hover, button:hover {
  border: 0;
  transition: all 1s ease 0s;
  cursor: pointer;
  color: #e1e1e1;
  opacity: 0.9; }

h1 {
  font-size: 20px; }

.app__header {
  position: absolute;
  width: 12%;
  height: 12%;
  top: 3%;
  left: 10%;
  z-index: 20; }
  .app__header_link {
    display: block;
    width: 100%;
    height: auto;
    border: 0; }
  .app__header_link:hover {
    background: none;
    color: none;
    border: 0; }
  .app__header_img {
    width: 100%;
    height: auto; }

.app__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .app__content_main {
    align-self: flex-start;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("/assets/main-img.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .app__content_main:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2; }
  .app__content_header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 2000;
    bottom: 12%;
    left: 10%;
    width: 85%; }
  .app__content_header-second {
    justify-content: space-between; }
  .app__content_header > * {
    display: flex;
    align-items: center; }
  .app__content_background {
    top: 0;
    background-color: black;
    width: 100%;
    z-index: 1;
    opacity: 0.4; }

.app__block-info {
  margin-bottom: 50px;
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .app__block-info_header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background: var(--main-color);
    width: 100%;
    text-align: center;
    font-size: 26px; }
    .app__block-info_header > h1, .app__block-info_header h2 {
      color: white;
      padding: 25px; }
  .app__block-info_content {
    color: #494949;
    padding: 30px 0;
    line-height: 35px;
    margin: 0 20%;
    font-size: 1.2rem; }
  .app__block-info_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 5%; }

.app__text {
  align-self: flex-start;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  width: 60%;
  color: #f1f1f1;
  letter-spacing: 1px; }
  .app__text_second, .app__text_fatty-second {
    color: white; }
  .app__text_second {
    width: 40%;
    font-size: 20px;
    line-height: 24px; }
  .app__text_fatty-second {
    color: #555;
    font-weight: bold;
    line-height: 30px; }

.app__btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.app__btn {
  background-color: var(--main-color);
  color: white;
  font-size: 25px;
  border-radius: 6px;
  border: 1px solid var(--main-color);
  padding: 15px 24px;
  font-weight: bold;
  margin-right: 5px; }
  .app__btn:hover {
    border: 1px solid #6e6e6e;
    background-color: var(--hover-color);
    transition: all 1s ease 0s;
    cursor: pointer; }

.app__btn-second {
  background-color: white;
  color: var(--main-color);
  font-size: 25px;
  border-radius: 6px;
  border: 1px solid white;
  padding: 15px 24px;
  font-weight: bold; }
  .app__btn-second:hover {
    border: 1px solid var(--hover-color);
    transition: all 1s ease 0s;
    cursor: pointer;
    color: var(--main-color); }

.app__main_img {
  width: 100vw;
  min-width: 100vw;
  filter: brightness(50%); }

.app__ol {
  clear: both;
  list-style: none;
  text-align: start;
  padding: 0; }
  .app__ol > li {
    position: relative;
    display: block;
    padding-top: 1em;
    margin: 1.1em 0;
    counter-increment: inst; }
  .app__ol > li::before {
    content: counter(inst);
    background: var(--main-color);
    height: 16px;
    display: inline-block;
    padding-bottom: 18px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 16px;
    margin-right: 5px;
    color: white;
    font-weight: bold; }

@media (max-width: 1025px) {
  .app__content_main {
    flex-direction: column; }
  .app__content_header {
    position: static;
    justify-content: flex-end;
    z-index: 90;
    width: 100%;
    height: 100%; }
  .app__content_header-second {
    flex-direction: column;
    z-index: 3; }
  .app__text {
    text-align: center;
    z-index: 3;
    margin: auto;
    width: 90%; }
    .app__text_second {
      margin-top: 20px;
      text-align: center;
      width: 60%;
      mix-blend-mode: normal;
      opacity: 0.9; }
  .app__btns {
    margin-top: 100px;
    margin-bottom: 80px;
    width: 90%;
    justify-content: space-between; }
  .app__btn {
    font-size: 14px;
    line-height: 18px;
    padding: 10px 20px; }
  .app__btn-second {
    font-size: 14px;
    line-height: 18px;
    padding: 10px 20px; }
  body, html {
    font-size: 0.75rem; }
  .app__block-info {
    margin-bottom: 15px;
    margin-top: 15px; }
  .app__block-info_content {
    margin: 0 2%; } }

@media (max-width: 460px) {
  body, html {
    font-size: 0.75rem; }
  .app__text {
    font-size: 30px;
    line-height: 38px;
    text-align: center; }
    .app__text_second {
      font-size: 18px;
      line-height: 22px;
      margin-top: 15px;
      text-align: center;
      width: 90%; }
  .app__btns {
    margin-top: 50px;
    margin-bottom: 40px; }
  .app__header_img {
    width: 80px; }
  .app__block-info {
    margin-bottom: 15px;
    margin-top: 15px; }
    .app__block-info_header {
      font-size: 21px; }
  .app__block-info_content {
    margin: 0 5%; }
  .app__btn, .app__btn-second {
    height: 40px;
    padding: 0 15px;
    font-size: 1rem; } }
