:root {
    --main-color: #164ACF;
    --hover-color: #1f56df;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Cuprum", "Open Sans", sans-serif;
    color: white;
    overflow-x: hidden;
}

p, ul, ol, li {
    margin: 0;
    padding: 0;
}

a, button {
    outline: none;
    border: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

a:hover, button:hover {

    border: 0;
    transition: all 1s ease 0s;
    cursor: pointer;
    color: #e1e1e1;
    opacity: 0.9;
}

h1 {
    font-size: 20px;
}

.app {

    &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        &_main {
            align-self: flex-start;
            width: 100%;
            height: 100vh;
            position: relative;
            background: url("../assets/main-img.jpg") center no-repeat;
            background-size: cover ;
        }

        &_main:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,.5);
            z-index: 2;
        }

        &_header {
            display: flex;
            justify-content: center;
            flex-direction: column;
        
            position: absolute;
            z-index: 2000;
            bottom: 12%;
            left: 10%;
            width: 85%;    
        }

        &_header-second{
            justify-content: space-between;
        }

        &_header > * {
            display: flex;
            align-items: center;
        }

        &_background {
            top: 0;
            background-color: black;
            width: 100%;
            z-index: 1;
            opacity: 0.4;
        }
    }

    &__text {
        align-self: flex-start;
        margin-bottom: 10px;
        font-weight: normal;
        font-size: 50px;
        line-height: 58px;
        width: 60%;
        color: rgb(241, 241, 241);
        letter-spacing: 1px;

        &_second, &_fatty-second {
            color: white;
        }

        &_second {
            width: 40%;
            font-size: 20px;
            line-height: 24px;
        }

        &_fatty-second {
            color: #555;
            font-weight: bold;
            line-height: 30px;
        }
    }

    &__btns {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    &__btn {
        background-color: var(--main-color);
        color: white;
        font-size: 25px;
        border-radius: 6px;
        border: 1px solid var(--main-color);
        padding: 15px 24px;
        font-weight: bold;
        margin-right: 5px;

        &:hover {
            border: 1px solid rgb(110, 110, 110);
            background-color: var(--hover-color);
            transition: all 1s ease 0s;
            cursor: pointer;
        }

        &_second {
            background-color: white;
            color: var(--main-color);
            border: 1px solid white;
    
            &:hover {
                border: 1px solid var(--hover-color);
                transition: all 1s ease 0s;
                cursor: pointer;
                color: var(--main-color);
            }
        }
    }

    &__ol {
        
        clear: both;
        list-style: none;
        text-align: start;
        padding: 0;

        & > li {
            position: relative;
            display: block;
            padding-top: 1em;
            margin: 1.1em 0;
            counter-increment: inst;
        }

        & > li::before {
            content: counter(inst);
            background: var(--main-color);

            height: 16px;
            display: inline-block;
            padding-bottom: 18px;
            padding-left: 12px;
            padding-right: 12px;
            border-radius: 16px;
            margin-right: 5px;
            color: white;
            font-weight: bold;
        }
    }
}

@media(max-width: 1025px) {

    body, html {
        font-size: 0.75rem;
    }

    .app {

        &__content {

            &_main {
                flex-direction: column;
            }
            
            &_header {
                position: static;
                justify-content: flex-end;
                z-index: 90;
                width: 100%;
                height: 100%;
            }

            &_header-second {
                flex-direction: column;
                z-index: 3;
            }
        }

        &__text{
            text-align: center;
            z-index: 3;
            margin: auto;
            width: 90%;

            &_second{
                margin-top: 20px;
                text-align: center;
                width: 60%;
                mix-blend-mode: normal;
                opacity: 0.9;
            }
        }

        &__btns {
            margin-top: 100px;
            margin-bottom: 80px;
            width: 90%;
            justify-content: space-between;
        }

        &__btn {
            font-size: 14px;
            line-height: 18px;
            padding: 10px 20px;
            
        }
    }
}

@media(max-width: 460px) {
    body, html {
        font-size: 0.75rem;
    }

    .app {

        &__text{
            font-size: 30px;
            line-height: 38px;
            text-align: center;
      

            &_second{
                font-size: 18px;
                line-height: 22px;
                margin-top: 15px;
                text-align: center;
                width: 90%;

            }
        }

        &__btns{
            margin-top: 50px;
            margin-bottom: 40px;
        }

        &__header{

            &_img{
                width: 80px;
            }
        }
    
        &__btn {
            height: 40px;
            padding: 0 15px;
            font-size: 1rem;
        }

    }
}
